input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #edcb70;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.connexion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/casino_spin.png");
  background-position: center;
  background-size: auto 90%;
  background-repeat: no-repeat;
}

.connexion form {
  width: min(100vw, 50vh);
}

.connexion-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  padding: 2vh 0;
}

.connexion-middle {
  padding: 2vh 0;
}

.connexion-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
  padding: 2vh 0;
}

.connexion-email,
.connexion-password {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: max(300px, 60vw);
  margin: 0 auto;
}

.connexion-email input,
.connexion-password input,
.connexion-email input:-webkit-autofill,
.connexion-password input:-webkit-autofill {
  width: 100%;
  margin: 1px 0 -1px 0;
  font-size: 1rem;
  padding: 0.5rem 0rem 0.5rem 2.5rem;
  height: 1.2em;
  background-color: transparent;
  color: #edcb70;
  border: none;
  border-bottom: 1px solid #edcb70;
  outline: none;
  opacity: 0.8;
  fill: none !important;
}

.connexion-email input:focus,
.connexion-password input:focus {
  border-bottom: 2px solid #edcb70;
  opacity: 1;
}

.connexion-email label,
.connexion-password label {
  position: absolute;
  left: 0.5rem;
  top: 0.75rem;
  color: #edcb70;
  z-index: 2;
}

.connexion button {
  width: 50%;
  padding: 0.5rem;
  margin-top: 12vh;
  font-size: 1rem;
  outline: none;
  border: 2px solid transparent;
  border-radius: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  color: black;
  background-color: #edcb70;
  background: #edcb70;
  background: radial-gradient(
    circle,
    rgba(237, 203, 112, 1) 59%,
    rgba(169, 110, 48, 1) 100%
  );
  cursor: pointer;
}

.connexion button:hover,
.connexion button:focus {
  border: 2px solid #edcb70;
  background: radial-gradient(
    circle,
    rgba(237, 203, 112, 1) 31%,
    rgba(169, 110, 48, 1) 100%
  );
}

.connexion-wrapper {
  display: "flex";
  flex-wrap: "wrap";
  justify-content: "center";
  align-items: "center";
  gap: "0.25rem";
  margin-top: 10px;
  font-size: 14px;
}

.connexion-wrapper p {
  margin: 1rem 0 0.5rem 0;
}

.connexion-wrapper a {
  color: white;
  cursor: pointer;
}

@media (orientation: landscape) {
  .connexion {
    background-size: 80% auto;
    min-height: 0px;
  }

  .connexion form {
    width: min(100vh, 48vw);
  }

  .connexion-top {
    margin-top: 0;
    padding-top: 0;
  }

  .connexion-middle {
    padding: 6vh 0 4vh 0;
  }

  .connexion button {
    margin: 4.2rem 0 0 0;
  }

  .connexion-wrapper {
    margin-top: 0px;
  }
}

@media screen and (max-width: 667px) and (orientation: landscape) {
  .connexion-top {
    padding: 2vh 1rem;
  }
}
